.btn {
  border-radius: 12px;
  padding: 16px 88px;
  width: 267px;
  height: 60px;
  background-color: #9fb7ce;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #121417;
  border-color: transparent;
}
